@import url("https://fonts.googleapis.com/css?family=Audiowide&display=swap");

.message-row {
  display: flex;
  margin-bottom: 10px;
}

.message-row-right {
  justify-content: flex-end;
}

.message-bubble {
  background-color: #343a40;
  border-radius: 20px;
  padding: 10px;
  max-width: 70%;
}

.message-bubble-right {
  background-color: #0d90a4;
  align-self: flex-end;
}

.message-bubble-left {
  background-color: #4f4f4f;
}

.message-sender {
  font-size: 12px;
  text-align: right;
  color: #aaa;
  margin-bottom: 2px;
  font-style: italic;
}

.message-content {
  font-size: 14px;
  margin-bottom: 5px;
  color: #ffffff;
  font-family: "Audiowide", sans-serif;
}

.message-time {
  font-size: 12px;
  color: #ccc;
}
